# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Root Files
*.root

#Python virtual environments
Reinterpretation/HEPDataEnv/
Reinterpretation/__pycache__/

#Data files
Reinterpretation/Cutflows/*.txt
Reinterpretation/Graphics/*
Reinterpretation/TestOutput/*
Reinterpretation/*.tar.gz